@import "../../styles/variables.scss";

.PrixSmogglageGeneral {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1rem;
  position: relative;

  .legend-container {
    width: 32%;
    position: absolute;
    right: 0;
    top: 33%;
    h4 {
      margin: 0;
      font-size: .85rem;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: flex;
        align-items: start;
        margin-bottom: 0.5rem;
        font-family: $font-family-1;
      font-size: .85rem;
      cursor: pointer;
      }
    }
  }
}
