.EstimationImportsExports {
  .ColumnsComparison {
    h2,
    h3 {
      margin: 0;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  .legend {
    div {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: .8rem;
    }
  }
  .group {
    .quantity-group {
      .label-container {
        height: 100%;
        display: flex;
        align-items: center;
        &.align-top {
          align-items: flex-start;
          padding-top: 1rem;
        }
        &.align-bottom {
          align-items: flex-end;
          padding-bottom: 1rem;
        }
        
        pointer-events: none;
        &.is-overflowing {
          align-items: start;
        }
        p {
          margin: 0;
          pointer-events: all;
          font-size: 0.7rem;
        }

        
      }
      rect {
          stroke: white;
        }
      &.source {
        .label-container {
          color: #e93d15;
        }
        rect {
          fill: #e93d15;
        }
      }
      &.estimation {
        .label-container {
          color: #514EEE;
        }
        rect {
          fill: #514EEE;
        }
      }
      &.diff {
        .label-container {
          color: #34495e;
        }
        rect {
          fill: #34495e;
        }
      }
    }

    &.left-group {
      h3 {
        text-align: right;
      }
      .label-container {
        p {
          text-align: right;
        }
      }
    }
    &.right-group {
    }
  }
}
