@import "../../styles/variables.scss";

.HistoireDunkerque {
    .top-section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: hidden;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .map-title {
        order: 1;

        .map-titles {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .map-switch-spans {
            cursor: 'pointer';
            font-weight: bold;
            text-decoration: underline;
            display: none;
        }

        .head {
            display: inline-block;
            overflow-wrap: break-word;
            width: 150px;
        }

        .map-switch-btns {
            display: flex;
            margin-top: 0.5rem;

            button+button {
                margin-left: 0.5rem;
            }
        }
    }

    .map-container {
        height: 100%;
        position: relative;
        order: 3;
        align-self: flex-end;
    }

    .map-legend {
        order: 2;
    }

    .layer {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    img.base {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @include phone {
        .top-section {
            flex-wrap: nowrap;
            align-items: center;
        }

        .timeline {
            display: none;
        }

        .map-title {
            order: 1;
            width: 100%;

            .map-switch-spans {
                display: inline;
            }
        }

        .map-switch-btns {
            display: none !important;
        }

        .map-container {
            position: relative;
            order: 2;
            align-self: unset;
            margin: 1rem 0;
        }

        .map-legend {
            order: 3;
            width: 100%;
        }
    }

    svg p {
        font-family: $font-family-1;
    }
}