.HistoireDunkerque {
    .top-section {
        display: flex;
        justify-content: space-between;
    }

    .map-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .map-aside {
        flex-basis: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            max-width: 120px;
            height: auto;
        }
    }

    .timeline {
        width: 100%;
    }

    .layer {
        position: absolute;
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}