@import "../../styles/variables.scss";

.HistoireDunkerque {
  .top-section {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .left-column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    > div, > svg {
      flex: 1;
    }
  }

  .map-title {
    // flex: 1;

    .map-titles {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .map-switch-spans {
      cursor: pointer;
      font-weight: bold;
      text-decoration: underline;
      display: none;
    }

    .head {
      display: inline-block;
      overflow-wrap: break-word;
      padding-right: 1rem;
      transition: .5s ease all;
      &.is-past {
        opacity: .8;
        font-style: italic;
        font-weight: 200;
      }
    }
  }

  .map-switch-btns {
    display: flex;
    padding-bottom: 2.3rem;
    padding-right: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-end;
    flex: 0;
    max-height: 2rem;

    button {
      background-color: transparent;
      text-decoration: underline;
      margin-top: 0.5rem;
      opacity: 0.5;
      padding: 0;
      transition: 0.5s ease all;
      &:hover {
        opacity: 1;
      }
    }
  }

  .map-container {
    max-height: 100%;
    position: relative;
    align-self: flex-end;
  }

  .map-legend {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    svg {
      position: relative;
      bottom: 1.5rem;
    }
  }

  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  img.base {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .timeline {
    cursor: pointer;
  }

  &.minMode {
    .map-title {
      width: 100%;

      .map-switch-spans {
        display: inline;
      }
    }

    .map-switch-btns {
      display: none !important;
    }

    .top-section {
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: column;
    }

    .map-container {
      position: relative;
      align-self: unset;
      margin: 1rem 0;
    }

    .map-legend {
      width: 100%;
    }
  }
}
