


.DestinationsGbVersGb {

  .GeographicMapChart {
    .geopart {
      fill: lightgrey!important;
        stroke: white;
    }
  }


  .CustomObjectsLayer {
    .port-group {
      transition: .5s ease all;
      opacity: 1;
    }
    &:hover {
      .port-group {
        opacity: .2;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}