@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import "./variables.scss";

body {
    font-family: $font-family-2;
    color: $color-text;
    overflow-x: hidden;
}

main.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

@import '../../node_modules/bulma/css/bulma.min.css';