
@use "sass:math";
@import '../../node_modules/bulma/css/bulma.min.css';
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import "./variables.scss";

body {
    font-family: $font-family-2;
    color: $color-text;
    overflow-x: hidden;
}

main.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

@import './text.scss';

.centered-part {
    text-align: center;
}

.caller {
    background: $color-background-blue;
    font-family: $font-family-1;
    padding: $small-gutter;
    font-size: 0.7rem;
    cursor: pointer;
    &.is-active {
        background: $color-accent-background;
        color: white;
    }
    &.is-clearfix {
        display: none;
    }
    &.is-hidden {
        max-width: 2rem;
        padding: 0.3rem;
        margin: 0;
    }
}

button {
  border: none;
  background: rgba(220, 220, 220, 1);
  padding: 0.5rem;
  font-family: "Karla", sans-serif;
  outline: none;
  cursor: pointer;
}

button.is-active {
  background: rgba(50, 50, 50, 1);
  color: white;
}