@import '../../styles/variables.scss';

.FraudeExportPortFranc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .FraudeExportPortFranc-box {
        position: relative;
        h3 {
            position: absolute;
            margin: 0;
            // float: left;
            // left: $medium-gutter;
            top: calc(50% - $medium-gutter / 2);
            @include tablet {
              top: $medium-gutter;
            }
        }
      transition: .5s ease all;
      opacity: 0;
      overflow: hidden;
      max-height: 0;
      &.is-visible {
        opacity: 1;
        max-height: 1000vh;
      }
    }


    .FraudeExportPortFranc-list {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .selector-container {
      position: absolute;
       bottom: 1rem;
      right: 1rem;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        cursor: pointer;
      }
    }
    // &.is-atlas-mode {
    //   display: flex;
    //   flex-flow: row nowrap;
    //   justify-content: center;
    //   padding: 1rem;
    //   box-sizing: border-box;
    //   // align-items: center;
    //   .FraudeExportPortFranc-list {
    //     flex-flow: row wrap;
    //     align-items: center;
    //     width: 100%;
    //   }
    // }
}