.AlluvialChart {
    padding: 0 1rem;
    box-sizing: border-box;

    .category {
      cursor: pointer;
      .modality-label {
        font-size: 10px;
        font-weight: bold;
        fill: black;
        cursor: pointer;
        opacity: 1;
        transition: .5s ease all;
        &.is-overflowing {
          opacity: 0;
        }
      }
      &:hover,
      &.is-highlighted {
        .modality-label.is-overflowing {
          opacity: 1;
        }
      }

      .bar {
        stroke: white;
        stroke-width: 1px;
      }
    }

    

    .step-title {
      font-size: 16px;
      fill: black;
      font-style: italic;
      font-weight: bold;
    }

    .link{
      // pointer-events: none;
    }
}