


.ExportsVsSmogglage {
  .ChoroplethLayer {
    .geopart {
      fill: lightgrey!important;
      stroke: white;
    }
  }
  .CustomObjectsLayer {
    .PortObject {
      cursor: pointer;
      &.is-dimmed {
        opacity: .5;
      }
      &.is-hidden{
        opacity: 0;
      }
    }
    // &:hover {
    //   .PortObject {
    //     opacity: 0.2;
    //     &:hover {
    //       opacity: 1;
    //     }
    //   }
    // }
  }

  .legend-container {
    position: absolute;
    left: 0rem;
    top: 90%;
    max-width: 300px;
    font-size: .8rem;
    padding: 1rem;
    background: rgba(255,255,255,.5);
    box-sizing: border-box;
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}