


.ExportsVsSmogglage {
  position: relative;
  .ChoroplethLayer {
    .geopart {
      fill: lightgrey!important;
      stroke: white;
    }
  }
  .CustomObjectsLayer {
    .PortObject {
      cursor: pointer;

      
      &.is-dimmed {
        opacity: .5;
      }
      &.is-hidden{
        opacity: 0;
      }
    }
    // &:hover {
    //   .PortObject {
    //     opacity: 0.2;
    //     &:hover {
    //       opacity: 1;
    //     }
    //   }
    // }
  }

  .legend-container {
    position: absolute;
    left: 30px;
    top: 2.5rem;
    max-width: 25rem;
    font-size: .8rem;
    padding: 1rem;
    // background: rgba(255,255,255,.5);
    box-sizing: border-box;
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: flex;
      li {
        cursor: pointer;
        margin-right: 1rem;
      }
    }
    p {
       margin-top: .5rem;
      margin-bottom: 0;
    }
    transition: .5s ease all;
    opacity: 1;
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .RadarChart {
    pointer-events: none;
    .background-container {
      pointer-events: none;
    }
    .VisObject {
      pointer-events: all;
    }
  }
}