@import '../../styles/variables.scss';

.Intro {

  .GeographicMapChart {
    .ChoroplethLayer {
      .geopart {
        stroke: white;
        fill: transparent;
      }
    }

    .map-label {
      span {
        background: black;
        display: inline-block;
        color: white;
        font-family: $font-family-1;
        padding: calc($small-gutter / 2);
        margin-bottom: calc($small-gutter / 2);
        font-size: calc($fontsize_part_title / 2);
      }
    }
  }
  &.is-atlas-mode {
    .GeographicMapChart {
      .ChoroplethLayer {
        .geopart {
          stroke: black;
        }
      }
    }
  }
}