

.TonnageF12 {
  box-sizing: border-box;

  .buttons-container {
    display: flex;
    flex-flow: row nowrap;
    button {
      font-size: .8rem;
      text-align: left;
    }
  }
  .columns-container {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    .column {

      &:first-of-type {
        .vertical-bar-label {
          font-size: .5em;
        }
      }
      flex: 1;
      box-sizing: border-box;

      h2 {
        padding: 0;
        padding-left: 1rem;
        font-size:  1rem;
      }

      &.centered-arrow-container {
        flex: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
      }
    }
  }
}