

.HomeportSmoggleurs {
  .GeographicMapChart {
    .geopart {
      // fill: white!important;
      // stroke: red!important;
    }

    .port-groups {

      .port-group {
        opacity: 1;
        transition: .5s ease all;

        line {
          stroke: grey;
          stroke-dasharray: 2, 4;
        }
      }
      &:hover {
        .port-group {
          opacity: .1;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .bars-container {
    rect {
      fill: red!important;
    }
  }
}