@import '../../styles/variables';

.AlluvialImportExport {
  .modality-group {
    .modality-rect {
      // cursor: pointer;
      // stroke: white;
    }
    .modality-label {
      font-family: $font-family-1;
      text-align: center;
      font-size: 10px;
    }
  }

  .number-label {
    font-style: italic;
    font-size: 8px;
    &.left {
      text-anchor: end;
    }
    &.right {
      text-anchor: start;
    }
  }
  .flow-group {
    mix-blend-mode: multiply;
  }

  .modality-group,
  .flow-group {
    opacity: 1;
    transition: .5s ease all;
    &.is-overflowing {
      .dashed-flow-arrow,
      .number-label,
      .modality-label {
        opacity: 0;
      }
      &:hover {
        .number-label,
      .modality-label {
        opacity: 1;
      }
      }
    }
  }

  &.has-highlights {
    .modality-group,
    .flow-group {
      opacity: .2;
      &.is-highlighted {
        opacity: 1;
      }
    }
  }
}
