@import "../../styles/variables.scss";

$small-text: .6rem;

.Pilotage {
  box-sizing: border-box;
  font-family: $font-family-1;
  font-size: 1rem;
  overflow: hidden;

  .ArrowNote {
    p {
      font-size: $small-text;
    }

    line,
    path {
      stroke: black;
      stroke-width: 2px;
    }
  }

  h3 {
    margin-top: 0;
  }
  .top-barchart {
    display: flex;
    align-items: center;
  }

  .upper-row,
  .lower-row {
    transition: 0.5s ease all;
    overflow: hidden;
    max-height: 100%;
    opacity: 1;
    box-sizing: border-box;
    position: relative;
  }

  .upper-row {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    // padding: 1rem;
    // padding-bottom: 0;
    padding: 0;
    .explanation-left,
    .explanation-right {
      flex: 1;
      max-width: 50%;
      box-sizing: border-box;
    }
    .explanation-left {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      .legend-container {
        padding-bottom: 1rem;
      }
    }
    .explanation-right {
      padding: 0;
      box-sizing: border-box;
      .mean-explanation {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        margin-bottom: 0;
        i {
          font-style: normal;
          color: darkgreen;
        }
      }
    }
  }
  .lower-row {
    padding: 1rem;
    padding-top: 0;

    .back-label {
      display: flex;
      justify-content: center;
      p {
        padding: 2px 1rem;
        font-size: 1.3vh;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
        background-color: white;
        display: inline-block;
      }
      &.is-black {
        p {
          color: white;
          background: black;
        }
      }
    }
  }

  &.is-scrolly-mode {
    .lower-row {
      h3 {
        margin-top: 0;
      }
    }
    &.result-only,
    &.methodo-only {
      .row {
        max-height: 50%;
      }
      .upper-row {
        flex-direction: column;
      }
    }
    &.result-only {
      .upper-row {
        max-height: 0;
        opacity: 0;
      }
      .lower-row h3 {
        display: none;
      }
    }
    &.methodo-only {
      // transform: scale(.6);
      .lower-row {
        max-height: 0;
        opacity: 0;
        padding: 0;
      }
    }
    &:not(.methodo-only):not(.result-only) {
      .lower-row {
        svg {
          position: relative;
          top: -4rem;
        }
      }
    }
  }
  &:not(.is-scrolly-mode) {
    .upper-row {
      padding: 1rem;
    }
  }
}
